<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-text-weight-semibold">
      <a class="navbar-item icon-text" title="Home" href="/">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
      </a>
      <a class="navbar-item" title="Projects" href="/projects/">
        Projects
      </a>
      <a class="navbar-item" title="Companies" href="/companies/">
        Companies
      </a>
      <a class="navbar-item" title="People" href="/people/">
        People
      </a>
    </div>
  </nav>
</div>