{{define "title"}}Profiles{{end}}

{{define "content"}}
    <div class="container">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li class="is-active">
                    <a href="/people/" title="profiles" aria-current="page">People</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="section">
        <div class="container">
            <h2 class="title is-2">People</h2>
            <div class="table-container">
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>LinkedIn</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .}}
                        <tr>
                            <td>
                                <a href="/people/{{.ID}}/">{{.FirstName}} {{.LastName}}</a>
                            </td>
                            <td>
                                {{if .LinkedIn.Valid}}
                                    <a href="https://www.linkedin.com/in/{{.LinkedIn.String}}">{{.LinkedIn.String}}</a>
                                {{else}}
                                    Not Available
                                {{end}}
                            </td>
                        </tr>
                    {{else}}
                        <tr>
                            <td colspan="2">No profiles found.</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{end}}
