{{define "title"}}Project: {{if .Name.Valid}}{{.Name.String}}{{else}}Unnamed Project{{end}}{{end}}

{{define "content"}}
    <nav class="breadcrumb has-succeeds-separator pl-3 is-small" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/projects/" title="profiles">Projects</a>
            </li>
            <li class="is-active">
                <a href="/projects/{{.ID}}/" title="Projects" aria-current="page">{{.Name.String}}</a>
            </li>
        </ul>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">{{ .Name.String }}</h2>
            <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                <th>Status</th>
                <th>Location</th>
                <th>Units</th>
                <th>Stories</th>
                <th>Square Feet</th>
                <th>Company</th>
                <th>Discipline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ if .Status.Valid }}{{ .Status.String }}{{ else }}N/A{{ end }}</td>
                <td>
                    {{ if .Address.Valid }}{{ .Address.String }}{{ else }}N/A{{ end }}
                </td>
                <td>{{ if .Units.Valid }}{{ .Units.Int32 }}{{ else }}N/A{{ end }}</td>
                <td>{{ if .Stories.Valid }}{{ .Stories.String }}{{ else }}N/A{{ end }}</td>
                <td>{{ if .SqFt.Valid }}{{ .SqFt.Int32 }}{{ else }}N/A{{ end }}</td>
                <td>
                    {{ if .Company.Valid }}
                        <a href="/companies/{{ .Company_Id.Int32 }}/" title="{{ .Company.String }}">
                            {{ .Company.String }}
                        </a>
                    {{ else }}
                    N/A
                    {{ end }}
                </td>
                <td>{{ if .Company_Discipline.Valid }}{{ .Company_Discipline.String }}{{ else }}N/A{{ end }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </section>
    <section class="section">
        <div class="container">
        <h2 class="subtitle">People who worked on this project</h2>
            <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                <th>Name</th>
                <th>LinkedIn</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Profiles }}
                <tr>
                <td><a href="/profiles/{{ .ID }}">{{ .FirstName }} {{ .LastName }}</a></td>
                <td>
                    {{ if .LinkedIn.Valid }}
                        <a href="https://www.linkedin.com/in/{{ .LinkedIn.String }}">
                            https://www.linkedin.com/in/{{ .LinkedIn.String }}
                        </a>
                    {{ else }}
                    N/A
                    {{ end }}
                </td>
                </tr>
                {{ else }}
                <tr>
                <td colspan="2">No profiles found for this project.</td>
                </tr>
                {{ end }}
            </tbody>
            </table>
        </div>
    </section>
{{end}}
