{{define "title"}}Project: {{if .Name.Valid}}{{.Name.String}}{{else}}Unnamed Project{{end}}{{end}}

{{define "content"}}
    <nav class="breadcrumb container" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/profiles/" title="profiles">Projects</a>
            </li>
            <li class="is-active">
                <a href="/projects/{{.ID}}/" title="Projects" aria-current="page">{{.Name.String}}</a>
            </li>
        </ul>
    </nav>
    <section class="section">
        <div class="container">
            <div class="project">
                <h2 class="title">{{if .Name.Valid}}{{.Name.String}}{{else}}Unnamed Project{{end}}</h2>
                <p>Status: {{if .Status.Valid}}{{.Status.String}}{{else}}N/A{{end}}</p>
                <p>Address: 
                    {{if .Address.Valid}}{{.Address.String}}{{else}}N/A{{end}}, 
                    {{if .City.Valid}}{{.City.String}}{{else}}N/A{{end}}, 
                    {{if .State.Valid}}{{.State.String}}{{else}}N/A{{end}}
                </p>
                <p>Units: {{if .Units.Valid}}{{.Units.Int32}}{{else}}N/A{{end}}</p>
                <p>Stories: {{if .Stories.Valid}}{{.Stories.String}}{{else}}N/A{{end}}</p>
                <p>Square Feet: {{if .SqFt.Valid}}{{.SqFt.Int32}}{{else}}N/A{{end}}</p>
                <p>Company: {{.Company.String}}</p>
                <p>Discipline: {{if .Discipline.Valid}}{{.Discipline.String}}{{else}}N/A{{end}}</p>
            </div>
        </div>
    </section>
{{end}}
